.description {
  .max-width-mixin ();

  &__block {
    width: 100%;
    background: url('../../../img/desc-bg.svg') top 0 left 600px no-repeat;
    background-size: contain;

    @media screen and (@breakpoint-md) {
      background: none;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    margin: 0;

    @media screen and (@breakpoint-xxl) {
      font-size: 45px;
      line-height: 55px;
    }

    @media screen and (@breakpoint-xs) {
      font-size: 30px;
      line-height: 37px;
      padding-top: 41px;
    }
  }

  &__text {
    margin: 0;
    font-size: 16px;
    line-height: 30px;
    margin: 0;

    &_orange {
      color: #E33E54;
      font-weight: 600;
    }

    @media screen and (@breakpoint-xs) {
      font-size: 14px;
      line-height: 26px;
    }
  }

  &__list {
    margin-bottom: 114px;
    max-width: 584px;

    @media screen and (@breakpoint-md) {
      max-width: 100%;
      padding-inline-start: 47px;
      margin-top: 0;
      margin-bottom: 58px;
    }

    @media screen and (@breakpoint-xs) {
      padding-inline-start: 30px;
      margin-bottom: 44px;
    }
  }

  &__list-item {
    font-size: 16px;
    line-height: 24px;

    &::marker {
      color: #EA6628;
    }
  }

  &__list-text {
    font-weight: 600;
    font-size: 40px;
    line-height: 63px;
    max-width: 629px;
    margin: 0;
    margin-top: 47px;
    margin-bottom: 39px;

    @media screen and (@breakpoint-md) {
      font-size: 30px;
      line-height: 52px;
      margin-top: 20px;
      max-width: 585px;
      margin-bottom: 0;
    }

    @media screen and (@breakpoint-xs) {
      font-size: 18px;
      line-height: 37px;
      margin-top: 15px;
    }

    &_orange {
      font-weight: 800;
      font-size: 50px;
      line-height: 63px;
      text-transform: uppercase;
      color: #E33E54;

      @media screen and (@breakpoint-md) {
        font-size: 40px;
        line-height: 52px;
      }

      @media screen and (@breakpoint-xs) {
        font-size: 30px;
        line-height: 37px;
      }
    }
  }

  &__item-text {
    margin: 23px 0;
    font-size: 16px;
    line-height: 24px;

    &:nth-child(1) {
      margin-top: 10px;
    }

    @media screen and (@breakpoint-md) {
      margin-left: 10px;
    }

    @media screen and (@breakpoint-xs) {
      font-size: 14px;
      letter-spacing: 0.01em;
    }
  }
}
