.section {
  &__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    margin: 0;
  }

  &__description {
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    padding-top: 66px;

    &_pt {
      padding-top: 50px;
    }
  }
}
