.footer {
  width: 100%;
  background-color: #0C2F33;

  &__content {
    width: 100%;
    max-width: 1217px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 71px 0 92px 0;

    @media screen and (@breakpoint-lg) {
      display: inherit;
      padding: 0;
      padding-top: 24px;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #fff;

    @media screen and (@breakpoint-lg) {
      display: none;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(4, 1fr);
  }

  &__item {
    margin-bottom: 19px;
  }

  &__link {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 17px;

    &:hover {
      opacity: .8;
      cursor: pointer;
    }
  }

  &__address {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 4px;
    align-items: center;

    @media screen and (@breakpoint-lg) {
      display: none;
    }
  }

  &__address-desc {
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;

    &_green {
      color: #4C858B;
    }
  }

  &__address-link {
    text-decoration: none;

    &:hover {
      opacity: .8;
      cursor: pointer;
    }
  }

  &__networks {
    justify-content: start;
    margin-top: 31px;

      @media screen and (@breakpoint-lg) {
        justify-content: center;
        margin-top: 0;
        padding-bottom: 24px;
      }
  }

  &__list-item {
    margin-right: 36px;

    &:last-of-type{
      margin-right: 0;
    }
  }

  &__block {
    &:nth-child(2) {
      margin-left: 33px;
    }
    &:nth-child(3) {
      margin-left: 100px;

      @media screen and (@breakpoint-lg) {
        margin-left: 0;
      }
    }

    &_none {
      @media screen and (@breakpoint-lg) {
        display: none;
      }
    }
  }
}
