h2.section__title Почему Дымоход.ру?
p.section__description.section__description_pt В отличие от других производителей, мы ручаемся за качество продукции, т.к. все Дымоходы изготавливаются из качественной стали, проверенного теплоизолятора, по современной технологии плазменной сварки «встык»
ul.arguments__list
  li.arguments__list-item
    svg(aria-hidden="true" width="79" height="79").arguments__image
      use(xlink:href='icons.svg#arguments1')
    h3.arguments__title Большой гарантийный срок
    p.arguments__description Крепёж, стыковка элементов – #[span.arguments__description_orange 10 лет]
    p.arguments__description Сквозная коррозия труб – #[span.arguments__description_orange 5 лет]
    p.arguments__description Гидроизоляция – #[span.arguments__description_orange 3 года]
  li.arguments__list-item
    svg(aria-hidden="true" width="78" height="78").arguments__image
      use(xlink:href='icons.svg#arguments2')
    h3.arguments__title Помощь в покупке агрегата
    p.arguments__description (печи, камина, котла), а также качественной установке на объекте с последующим гарантийным сервисом
  li.arguments__list-item
    svg(aria-hidden="true" width="77" height="77").arguments__image
      use(xlink:href='icons.svg#arguments3')
    h3.arguments__title Реальные отзывы клиентов
    p.arguments__description Убедитесь в добросовестности исполнения, прочитав Отзывы клиентов в специальном разделе.


