h2.section__title Почему Дымоход.ру?
p.section__description.section__description_pt В отличие от других производителей, мы ручаемся за качество продукции, т.к. все Дымоходы изготавливаются из качественной стали, проверенного теплоизолятора, по современной технологии плазменной сварки «встык»
ul.arguments__list
  li.arguments__list-item
    img(src=require('../../img/arguments/1.svg') alt='картинка аргуметов').arguments__image
    h3.arguments__title Большой гарантийный срок
    p.arguments__description Крепёж, стыковка элементов – #[span.arguments__description_orange 10 лет]
    p.arguments__description Сквозная коррозия труб – #[span.arguments__description_orange 5 лет]
    p.arguments__description Гидроизоляция – #[span.arguments__description_orange 3 года]
  li.arguments__list-item
    img(src=require('../../img/arguments/2.svg') alt='картинка аргуметов').arguments__image
    h3.arguments__title Помощь в покупке агрегата
    p.arguments__description (печи, камина, котла), а также качественной установке на объекте с последующим гарантийным сервисом
  li.arguments__list-item
    img(src=require('../../img/arguments/3.svg') alt='картинка аргуметов').arguments__image
    h3.arguments__title Реальные отзывы клиентов
    p.arguments__description Убедитесь в добросовестности исполнения, прочитав Отзывы клиентов в специальном разделе.


