h2.consultation__title необходима консультация?
p.consultation__heading оставьте заявку или свяжитесь с нами в социальных сетях
ul.networks.networks__list
      li.networks__list-item.consultation__list-item
        a(href='#').networks__item-link
          svg(aria-hidden="true" width="23" height="23" fill="#EA6628").networks__item-img.networks__item-img_orange
            use(xlink:href='icons.svg#vk' )
      li.networks__list-item.consultation__list-item
        a(href='#').networks__item-link
          svg(aria-hidden="true" width="22" height="23" fill="#EA6628").networks__item-img
            use(xlink:href='icons.svg#tg')
      li.networks__list-item.consultation__list-item
        a(href='#').networks__item-link
          svg(aria-hidden="true" width="18" height="19" fill="#EA6628").networks__item-img
              use(xlink:href='icons.svg#ig')
      li.networks__list-item.consultation__list-item
        a(href='#').networks__item-link
          svg(aria-hidden="true" width="18" height="19" fill="#EA6628").networks__item-img
            use(xlink:href='icons.svg#tel')
form(method="POST" action="#" name="profile" novalidate).consultation__form
  h2.consultation__form-title Для #[span.consultation__form-title_orange консультации] заполните форму!
  p.consultation__form-heading С Вами свяжутся в ближайшее время
  .consultation__input-block
    input(type="text" name="name" class="consultation__item consultation__item_el_name consultation__input" placeholder="Ваше Имя" id="name-input" required minlength="2" maxlength="40" autocomplete="off")
    span(class='consultation__input-error' id='name-input-error')
    input(type="text" name="telephone" class="consultation__item consultation__item_el_telephone consultation__input" placeholder="Ваш телефон" id="telephone-input" required minlength="2" maxlength="200" autocomplete="off")
    span(class='consultation__input-error' id='telephone-input-error')
    input(type="submit" value= "Отправить" class='consultation__button consultation__input')

