h2.description__title Монтаж дымоходов
ul.breadcrumb
  li.breadcrumb__item
    a(href="#").breadcrumb__item-link Главная
  li.breadcrumb__item.breadcrumb__item_is-active.breadcrumb__item_bplg Монтаж дымоходов
  li.breadcrumb__item.breadcrumb__item_bpxs
    a(href="#").breadcrumb__item-link Каталог
  li.breadcrumb__item.breadcrumb__item_bpxs
    a(href="#").breadcrumb__item-link Камины
  li.breadcrumb__item.breadcrumb__item_bpxs.breadcrumb__item_is-active Камины облицовки
p.description__text В #[span.description__text_orange Дымоход.ру]  вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть.
.description__block
  p.description__list-text Lorem ipsum dolor sit amet #[span.description__list-text_orange Lorem ipsum]
  ul.description__list
    li.description__list-item
      p.description__item-text Доступные цены
    li.description__list-item
      p.description__item-text Собственное производсвто  Дымоходов
    li.description__list-item
      p.description__item-text Выполнение необходимых работ, связанных с установкой камина, печи, котла
    li.description__list-item
      p.description__item-text Гарантия (от трёх до десяти лет)
    li.description__list-item
      p.description__item-text Работаем чисто, аккуратно, убираем за собой, не сквернословим
    li.description__list-item
      p.description__item-text Только русские квалифицированные специалисты
    li.description__list-item
      p.description__item-text Устанавливаем любые дымоходы всех производителей
