.footer__content
  .footer__block
    h2.footer__title Каталог
    ul.footer__list
      li.footer__item
        a(href='#').footer__link Дымоходы
      li.footer__item
        a(href='#').footer__link Дымососы
      li.footer__item
        a(href='#').footer__link Печи для дома
      li.footer__item
        a(href='#').footer__link Печи для бани
      li.footer__item
        a(href='#').footer__link Камины
      li.footer__item
        a(href='#').footer__link Силикат кальция
      li.footer__item
        a(href='#').footer__link Котлы
      li.footer__item
        a(href='#').footer__link Ещё
  .footer__block
    h2.footer__title Информация
    ul.footer__list
      li.footer__item
        a(href='#').footer__link Каталог
      li.footer__item
        a(href='#').footer__link Установка и монтаж
      li.footer__item
        a(href='#').footer__link Отзывы
      li.footer__item
        a(href='#').footer__link Ликвидация товара
      li.footer__item
        a(href='#').footer__link Полезное
      li.footer__item
        a(href='#').footer__link Контакты
      li.footer__item
        a(href='#').footer__link Оплата и доставка
  .footer__block
    h2.footer__title Время работы
    address.footer__address
      img(src=require('../../img/icons/time.svg') alt='иконки адресса').footer__address-icon
      span.footer__address-desc #[span.footer__address-desc_green пн-пт] 9:00 – 20:00 #[span.footer__address-desc_green сб-вс] 10:00 – 18:00
      img(src=require('../../img/icons/geo.svg') alt='иконки адресса').footer__address-icon
      a(href='#' target='_blank').footer__address-link
        span.footer__address-desc г. Санкт-Петербург, ул. Тамбасова д.7


