a(href="#").header__logo
  img(src=require('../../img/logo.png') alt='логотип')
ul.header__bar-list
  li.header__bar-item
    a(href='#').header__bar-link Каталог товаров
  li.header__bar-item
    a(href='#').header__bar-link Доставка и оплата
  li.header__bar-item
    a(href='#').header__bar-link Цены
  li.header__bar-item
    a(href='#').header__bar-link Контакты
ul.header__contacts-list
  li.header__contacts-item
    a(href='tel:+78125092198').header__contacts-link #[span.header__contacts-link_green +7 (812)] #[span.header__contacts-link_bold 509 21 98]
  li.header__contacts-item
    span.header__contacts-feedback Перезвоните мне
  li.header__contacts-item
    ul.networks.networks__list
      li.networks__list-item
        a(href='#').networks__item-link
          svg(aria-hidden="true" width="20" height="20" fill="#4C858B").networks__item-img
            use(xlink:href='icons.svg#vk')
      li.networks__list-item
        a(href='#').networks__item-link
          svg(aria-hidden="true" width="20" height="20" fill="#4C858B").networks__item-img
            use(xlink:href='icons.svg#tg')
      li.networks__list-item
        a(href='#').networks__item-link
          svg(aria-hidden="true" width="20" height="20" fill="#4C858B").networks__item-img
              use(xlink:href='icons.svg#ig')
      li.networks__list-item
        a(href='#').networks__item-link
          svg(aria-hidden="true" width="20" height="20" fill="#4C858B").networks__item-img
            use(xlink:href='icons.svg#tel')
ul.header__icons-list
  li.header__icons-item
    a(href='#').header__icons-link
      svg(aria-hidden="true" width="56" height="56")
        use(xlink:href='icons.svg#search').header__icons-img
  li.header__icons-item
    a(href='#').header__icons-link
      svg(aria-hidden="true" width="56" height="56")
        use(xlink:href='icons.svg#like').header__icons-img
  li.header__icons-item
    a(href='#').header__icons-link
      svg(aria-hidden="true" width="56" height="56")
        use(xlink:href='icons.svg#bin').header__icons-img
  li.header__icons-item
    a(href='#').header__icons-link
      svg(aria-hidden="true" width="56" height="56")
        use(xlink:href='icons.svg#sidebar').header__icons-img
