doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Some description')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title='Hawking-School'
    script(type='text/javascript').
  body
    .page
      include ../modules/header
      main.content
        section.consultation
          block consultation
        section.video
          block video
        section.photo
          block photo
