.consultation {
  .max-width-mixin();
  margin-top: 98px;
  margin-bottom: 108px;

  &__title {
    font-weight: 800;
    font-size: 50px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
  }

  &__heading {
    font-weight: 300;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    margin: 0;
  }

  &__icons-list {
    display: flex;
  }

  &__form {
    width: 100%;
    max-width: 866px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
  }

  &__form-title{
    margin: 0;
    padding-top: 57px;
    padding-left: 60px;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;

    &_orange {
      color: #EA6628;
      font-weight: 700;
    }
  }

  &__form-heading {
    margin: 0;
    margin-top: 12px;
    margin-bottom: 22px;
    padding-left: 60px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
  }

  &__input {
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    margin-right: 16px;
    width: 240px;
    padding: 17px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 51px;

    &:last-of-type{
      margin-right: 54px;
    }

    &:first-of-type {
      margin-left: 60px;
    }
  }

  &__button {
    color: #fff;
    background-color: #215359;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    &:hover {
      opacity: .8;
      cursor: pointer;
    }
  }
}
