.photos {
  width: 100%;
  min-width: 1217px;

  &__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    margin: 0;
    padding-bottom: 66px;
  }

  &__description {
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    padding-bottom: 48px;
  }
}
