extends ./layout/main

block description
  include ./modules/description

block mounting
  include ./modules/mounting

block arguments
  include ./modules/arguments

block consultation
  include ./modules/consultation

block video
  include ./modules/video

block photo
  include ./modules/photo-grid

block footer
  include ./modules/footer



